# exclude everything except .c .h readme and gitigore files
/*
# !/Display_App
!/Display_App
/Display_App/*
# !/Display_App/*.js
# !/Display_App/*.json
!/Display_App/*.html
!/Display_App/*.css
!/Xmega
/Xmega/*
!/Xmega/IMU
/Xmega/IMU/*
!/Xmega/IMU/IMU
/Xmega/IMU/IMU/*
!/Xmega/IMU/IMU/*.c
!/Xmega/IMU/IMU/*.h
!*.md
!.gitignore
